<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscripciones de los estudiantes</title>
</head>

<body>
    <h1>{{title}}</h1>
    <ul>
        {{#if matricula}}
        <h2>{{matricula}}</h2>
        {{else}}
        <h2>No se ha matriculado ningun estudiante</h2><br>
        <h3>Ingresa la siguiente instruccion en la terminal(debes terminar el proceso actual ctrl+c) para realizar la
            matricula</h3>
        <h3>node app inscribir --id=valor --name=valor --cedula=valor </h3>
        {{/if}}

    </ul>
</body>

</html>